body {
  font: normal 16px/1.5 "Helvetica Neue", sans-serif;
  background: #fff7f3;
  overflow-x: hidden;
}

.App {
  margin: auto;
  width: 40%;
  text-align: center;
  /* display: inline-block; */
  border: 3px solid black;
  padding: 10px;
  /* border-radius: 10px; */
  padding-bottom: 20px;
}

.title {
  font-weight: bold;
  position: relative;
  margin: auto;
  text-align: center;
  text-decoration: underline;
}

.status {
  padding: 20px;
  position: relative;
  margin: auto;
  width: 30%;
  /* font-size: 1.5rem; */
}

table {
  margin: auto;
  max-width: 400px;
  /* border: 3px solid black; */
  overflow: hidden;
}

.board {
  margin: auto;
  max-width: 400px;
  border: 3px solid black;
  border-radius: 20px;
  overflow: hidden;
  padding: 10px;
  box-shadow: 7px 7px #000000e7;
  /* background: rgba(255, 250, 98, 0.495); */
}
.board-td {
  padding: 5px;
  position: relative;
  /* background: #716e6c73; */
  border: 2px solid black;
  /* border-radius: 100px; */
}

.board-td:hover::after {
  content: "";
  position: absolute;
  background-color: #716e6c73;
  left: 0;
  top: -5000px;
  height: 10000px;
  width: 100%;
  z-index: -1;
}

.p1-td:hover::after {
  background-color: #f2c7ac;
}
.p2-td:hover::after {
  background-color: #66e2d5;
}

.player1 {
  border-radius: 100px;
  width: 50px;
  height: 50px;
  background: #f2c7ac;
  border: 2px solid black;
}

.player2 {
  border-radius: 100px;
  width: 50px;
  height: 50px;
  background: #66e2d5;
  border: 2px solid black;
}

.init {
  border-radius: 100px;
  width: 50px;
  height: 50px;
  background: white;
  border: 2px solid black;
}

.btn {
  color: black;
  border: 2px solid black;
  box-shadow: 4px 4px 0 #66e2d5;
  background: #66e2d5;
  font-size: 1.2em;
}

.btn:focus {
  outline: none;
}